<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styleCadastro.css') }}">
</head>

<body>
    <div class="container">
        <div class="form-container">
            <div class="form-header">
                <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="" width="230">
                <h3>Cadastro de Usuário</h3>
            </div>
            <form action="" method="post">
                {{ form.csrf_token }}

                <div class="form-group">
                    {{ form.nome.label(class="form-label") }}
                    {{ form.nome(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.sobrenome.label(class="form-label") }}
                    {{ form.sobrenome(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.senha.label(class="form-label") }}
                    {{ form.senha(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.confirmacao_senha.label(class="form-label") }}
                    {{ form.confirmacao_senha(class="form-control") }}
                </div>

                <button type="submit" class="btn btn-custom btn-block">Cadastrar</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>