<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/stylePaginaPrincipal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styleLogin.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="salve-pls"></div>
    {% extends 'base.html' %}
    {% block content %}
    <div class="container">
        <hr>
        {% if current_user.is_authenticated %}
        <div>
            <div id="local-sidebar" class="row">
                <div class="d-flex align-items-center gap-3 mb-4 justify-content-between">
                    <div class="d-flex">

                        <div class="d-flex flex-column justify-content-center ms-3">
                            <span class="h4 mb-1">{{ current_user.nome }} {{ current_user.sobrenome }}</span>
                            <a href="{{ url_for('profile') }}" class="text-decoration-none">
                                <img src="{{ url_for('static', filename='assets/configuracao.png') }}" alt="Settings"
                                    width="30">
                            </a>
                        </div>
                    </div>

                    <div>
                        <a href="{{ url_for('homepage') }}">
                            <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Logo" width="200">
                        </a>
                    </div>
                </div>

                <div class="mb-4 d-flex justify-content-center">
                    <a href="{{ url_for('PostNovo') }}" class="btn btn-primary w-50 h-150 pt-3"
                        style="font-size: 2rem; font-weight: 500;">COMPARTILHAR</a>
                </div>

            </div>

            <div id="local-profi" class="mt-5">
                <div class="style-profi">
                    <a href="{{ url_for('filter_posts', profession='Programador') }}" class="rem-img">
                        <img src="{{ url_for('static', filename='assets/programador.png') }}" alt="" class="rem-img">
                    </a>
                </div>
                <div class="style-profi">
                    <a href="{{ url_for('filter_posts', profession='Medico') }}" class="rem-img">
                        <img src="{{ url_for('static', filename='assets/medico.png') }}" class="rem-img">
                    </a>
                </div>
                <div class="style-profi">
                    <a href="{{ url_for('filter_posts', profession='Mecanico') }}" class="rem-img">
                        <img src="{{ url_for('static', filename='assets/mecanico.png') }}" class="rem-img">
                    </a>
                </div>
                <div class="style-profi">
                    <a href="{{ url_for('filter_posts', profession='Pintor') }}" class="rem-img">
                        <img src="{{ url_for('static', filename='assets/pintor.png') }}" class="rem-img" width="48">
                    </a>
                </div>
                <div class="style-profi">
                    <a href="{{ url_for('filter_posts', profession='Fazendeiro') }}" class="rem-img">
                        <img src="{{ url_for('static', filename='assets/fazendeiro.png') }}" class="rem-img">
                    </a>
                </div>
                <div class="style-profi">
                    <a href="{{ url_for('filter_posts', profession='Trabalhador') }}" class="rem-img">
                        <img src="{{ url_for('static', filename='assets/trabalhador.png') }}" class="rem-img">
                    </a>
                </div>
            </div>
            <div class="container mt-4">
                <h1 class="mb-4">Postagens</h1>
                <tbody>
                    {% for post in context['dados'] %}

                    <tr class="post-row">
                        <td colspan="">
                            <div class="post-container">
                                <div class="post-header">
                                    <span class="post-username text-white">{{ post.user.nome }}</span>
                                    <span class="post-date">{{ post.data_criacao.strftime('%d %b %Y') }}</span>
                                </div>
                                <div class="post-content">
                                    <p>{{ post.mensagem }}</p>
                                    <p><strong>Profissão:</strong> {{ post.profissao }}</p>
                                    <p><strong>Estado:</strong> {{ post.estado }}</p>
                                    <p><strong>Cidade:</strong> {{ post.cidade }}</p>
                                </div>
                                <div class="post-actions">
                                    <form action="{{ url_for('like_post', post_id=post.id) }}" method="post"
                                        class="d-inline">
                                        <button type="submit" class="btn btn-black bg-danger">
                                            <img src="{{ url_for('static', filename='assets/like.png') }}"
                                                class="bg-danger" width="25px"> {{ post.likes_count }}
                                        </button>
                                    </form>
                                    {% if post.user_id == current_user.id %}
                                    <button type="button" class="btn btn-danger text-black" data-toggle="modal"
                                        data-target="#confirmDeleteModal{{ post.id }}">
                                        Excluir
                                    </button>

                                    <div class="modal fade" id="confirmDeleteModal{{ post.id }}" tabindex="-1"
                                        role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog bg-secondary" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar
                                                        Exclusão</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Fechar">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Você tem certeza de que deseja excluir este post?
                                                </div>
                                                <div class="modal-footer bg-black">
                                                    <button type="button" class="btn btn-secondary bg-secondary"
                                                        data-dismiss="modal">Cancelar</button>
                                                    <form action="{{ url_for('delete_post', post_id=post.id) }}"
                                                        method="post" class="d-inline">
                                                        <button type="submit"
                                                            class="btn btn-danger bg-danger">Excluir</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}

                                    <a href="{{ url_for('chat', post_id=post.id) }}" class="btn btn-white">
                                        <img src="{{ url_for('static', filename='assets/messenger.png') }}" width="20px"
                                            class="bg-white text-black">
                                    </a>
                                </div>
                                <div class="post-comments mt-3">
                                    <h3 class="text-white">Comentários ({{ post.comentarios|length }})</h3>
                                    <ul>
                                        {% for comentario in post.comentarios %}
                                        <li>
                                            <p><strong>{{ comentario.user.nome }}:</strong> {{ comentario.comentario
                                                }}</p>
                                            <p><small>Postado em: {{ comentario.data_criacao.strftime('%d/%m/%Y')
                                                    }}</small></p>
                                        </li>
                                        {% else %}
                                        <li>Nenhum comentário ainda.</li>
                                        {% endfor %}
                                    </ul>
                                    <form action="{{ url_for('add_comment', post_id=post.id) }}" method="post">
                                        <div class="form-group">
                                            <textarea name="comentario" class="form-control"
                                                placeholder="Adicione um comentário"></textarea>
                                        </div>
                                        <div class="mt-3">
                                            <button type="submit" class="btn btn-primary">Comentar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <div class="bg-secondary divisoria">
                    </div>
                    {% endfor %}
                </tbody>
            </div>

            {% else %}

            <body>
                <div class="container-login">
                    <div class="juncaobemimagem">
                        <div class="bemvindo">
                            <h1>Bem Vindo!</h1>
                        </div>
                        <div class="imagemlogo">
                            <img src="{{ url_for('static',filename='assets/logo.png') }}" alt="Logo">
                        </div>
                    </div>
                    <div class="partelogin">
                        <div class="letraslogin">
                            <h3>Faça o seu Login</h3>
                        </div>
                        <form action="" method="post" class="partedentrologin">
                            {{form.csrf_token}}
                            <div class="email">
                                {{form.email.label( class="dentroemail")}}
                                {{form.email( class="barraemail" )}}
                            </div>
                            <div class="senha">
                                {{form.senha.label( class="dentrosenha")}}
                                {{form.senha( class="barrasenha" )}}
                            </div>
                            <div>
                                {{form.btnSubmit( class="dentrologin")}}
                            </div>
                            <a class="criarconta" href="{{url_for('Cadastro') }}">Não tem uma conta? Inscreva-se</a>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </body>
            {% endblock %}
        </div>