<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styleProfile.css') }}">
</head>

<body>
    <div class="container">
        <div class="profile-header">
            <img src="{{ current_user.imagem_perfil if current_user.imagem_perfil else url_for('static', filename='default.png') }}"
                alt="Foto do Perfil">
            <div>
                <h1>{{ current_user.nome }} {{ current_user.sobrenome }}</h1>
                <p>{{ current_user.email }}</p>
                <div class="d-flex mt-3">
                    <a href="{{ url_for('homepage') }}" class="btn-home">
                        <img src="{{ url_for('static', filename='assets/casa2.png') }}" alt="Home" id="teste-img">
                        <span>Home</span>
                    </a>
                    <a href="{{ url_for('logout') }}" class="btn btn-danger ml-3">Sair</a>
                </div>
            </div>
        </div>

        <h2 class="text-center mb-4">Editar Perfil</h2>
        <form method="POST" action="{{ url_for('profile') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group mb-3">
                <label for="nome">Nome</label>
                {{ form.nome(class="form-control") }}
            </div>
            <div class="form-group mb-3">
                <label for="sobrenome">Sobrenome</label>
                {{ form.sobrenome(class="form-control") }}
            </div>
            <div class="form-group mb-3">
                <label for="email">E-mail</label>
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group mb-3">
                <label for="senha">Senha</label>
                {{ form.senha(class="form-control") }}
            </div>
            <div class="form-group mb-3">
                <label for="confirmacao_senha">Confirmar Senha</label>
                {{ form.confirmacao_senha(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.btnSubmit(class="btn btn-primary btn-block col-12 mt-3") }}
            </div>
        </form>
    </div>
</body>

</html>