* {
    background: #0F0F0F;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.bemvindo {
    color: #FFF;
    font-family: Pridi;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 5px;

}

.imagemlogo img {
    width: 230px;
    height: auto;
}

.juncaobemimagem {
    display: flex;
    flex-direction: column;
    height: 150px;
}

.partelogin {
    width: 90%; 
    max-width: 500px; 
    margin-top: 100px;
    display: inline-flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid var(--Glass1-Stroke-Carey, #AFAFAF);
    background: var(--Glass1-Fill-Carey, linear-gradient(321deg, rgba(191, 191, 191, 0.06) 5.98%, rgba(0, 0, 0, 0.00) 66.28%), rgba(0, 0, 0, 0.14));
    box-shadow: -8px 4px 5px 0px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(26.5px);
}
.letraslogin {
    color: #FFF;
    font-family: Pridi;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.email,
.senha {
    width: 100%; 
    padding: 5px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #FFF;
}

.dentroemail,
.dentrosenha {
    color: #FFF;
    font-family: Pridi;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 125px;
}

.barraemail,
.barrasenha {
    color: white;
    flex: 1;
    padding: 5px 10px;
    border-radius: 12px;
    border: 1px solid #FFF;
    background: transparent;
}

.dentrologin {
    width: 100%; 
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: linear-gradient(91deg, #628EFF 9.91%, #8740CD 53.29%, #580475 91.56%);
    color: #FFF;
    font-family: Pridi;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.partedentrologin {
    display: grid;
    align-items: center;
    gap: 25px;
    background-color: #0F0F0F;
}

.criarconta {
    color: #FFF;
    font-family: Pridi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 768px) {
    .container-login {
        flex-direction: column;
        gap: 20px;
    }

    .partelogin {
        width: 100%; 
        max-width: 90%;
        padding: 20px;
    }

    .imagemlogo img{
        width: 200px;
    }
}